<!DOCTYPE html>
<html>
    <head>
        <title>Cook Book</title>
        <link rel="stylesheet" href="{{url_for('static',filename='css/master.css')}}">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <div id="cover">
        <div id="intro">
            <nav class="navbar">
                
                <ul class="navlinks">
                    <li><a class="navlink" href="#intro">Intro</a></li>
                    <li><a class="navlink" href="#features">Features</a></li>
                    <li><a class="navlink" href="#contact">Contact</a></li>
                </ul>
                <a class="navlink" href="/register#login" onclick="display()">Login</a>

            </nav>
            <div id="welcome">
                <h1>Easy Cook Book</h1>
                <p>Cooking is an art and 
                    Everyone is a unique artist!
                </p>
                <a href="/explore">Explore</a>
            </div>
        </div>

        <div id="features">
            Here goes the features!
        </div>
        <div id="contact">
            Here goes the social media links!
        </div>
        </div>
        <div id="form">
            <a style="background-color: black; padding: 7px; border-radius: 50%; color: white; text-decoration: none; position: absolute; right: -7px; top: -7px; z-index: 10;" href="#login" onclick="hide()">X</a>
            {% block content %}
            {% endblock content%}
        </div>
        <script>
            let form = "{{message}}";
            if(form){
                display();
            }
            function display(){
                document.getElementById("form").style.visibility = "visible";
                document.getElementById("cover").style.pointerEvents = "none";
            }
            function hide(){
                document.getElementById("form").style.visibility="hidden";
                document.getElementById("cover").style.pointerEvents="auto";
            }
        </script>
    </body>
</html>