<!DOCTYPE html>
<html>
    <head>
        <title>Cook Book</title>
        <link rel="stylesheet" href="{{url_for('static',filename='css/master.css')}}">
        <meta charset="utf-8">
    </head>
    <body>
        <nav class="navbar">
            <ul class="navlinks">
                <li><a class="navlink" href="#">Login</a></li>
            </ul>
        </nav>
        <main>
            <h1>Easy Cook Book</h1>
            <p>Cooking is an art and 
                Everyone is a unique artist!
            </p>
        </main>
        <footer>

        </footer>
    </body>
</html>